.ant-layout-header{
    background: none;
}
.ant-layout-sider{
    max-width: unset !important;
    width: auto !important;
    flex: unset !important;
    background: #fff;
}
.ant-layout-content{
    background: #fff;
    padding: 24px 0;
}

.modal-info{
    .pokemon-detail{
        background-color: blue !important;
    }
}